DATABASE_URL=mysql://contest:contest_password@127.0.0.1:3307/police_innovation
NEXT_PUBLIC_BASE_URL=http://127.0.0.1:3003
UPLOAD_DIR=./storage/uploads
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
